.top {
  /* width: 100%; */
   /* Max height set to 50px */
  /* max-height: 50px; */
  /* Ensure it occupies the full height defined */
  /* height: 50px;  */
  /* For visualization */
  background-color: lightgreen; 
}

.content {
  display: flex; /* Make content a flex container */
  flex-grow: 1; /* Ensure it takes the remaining height */
}

.left {
  width: 25%;
  height: 100%; /* Full height of the content area */
  background-color: lightblue; /* For visualization */
}

.right {
  width: 75%;
  height: 100%; /* Full height of the content area */
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
  background-color: lightcoral; /* For visualization */
}

/*=============*/
.header {
  background-color: #b8e994;
  padding: 20px;
  text-align: left;
  /* font-size: 24px;
  font-weight: bold;
  flex-shrink: 0; */
}

.content {
  display: flex;
  flex-grow: 1;
   /* Adjust based on header height */
  /* height: calc(100% - 70px); */
  overflow: hidden;
}

.sidebar {
  background-color: #d6eaf8;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  flex-shrink: 0;
}

.main {
  background-color: #f1948a;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  flex-shrink: 1;
}